
/*Thank You*/

.thank-you-icon {
  background: url('./images/SVG/sprait.svg') no-repeat -480px -82px;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.h2--thank-you {
  width: 380px;
}

/*end Thank You*/
