#body{
    background:black;
    font-family: arial;
    margin: 0;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.header {
  background: black;
}

.container--header, .container--footer {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.container--content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content {
  background: black;
}

.logo {
width: 50px;
height: 50px;
  background: url("./logo.svg") no-repeat;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 30px;
}

.nav__link:hover {
  color: #888888;
}

.first-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url("./1st-screen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.H1 {
    text-align: center;
    font-size: 60px;
    color: white;
    /*margin-top: -120px;*/
}

.H2 {
    text-align: left;
    font-size: 32px;
    color: white;
    margin: 0 0 5px 0;
}

.H3 {
    text-align: left;
    font-size: 24px;
    color: white;
    margin: 0;
    padding-bottom: 20px;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles__block {
  padding: 30px;
  box-sizing: border-box;
  background-color: #202020;
  width: calc(100% / 3 - 15px);
  margin-top: 25px;
}

.text {
  text-align: center;
  font-size: 16px;
  color: white;
  margin: 0;
  line-height: 1.7;
}

.text--article {
  text-align: left;
  color: grey;
}

.modal-container {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 10;
  top: 0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal-container--active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  padding: 60px;
  background-color: #202020;
  border-radius: 4px;
}

.nav__link--menu {
  padding-bottom: 40px;
}

.first {
  position: relative;
  z-index: -1
}

/* V 1st row of news - standalone svg, 2nd row - sprite. Works the same V */

.icon {
  width: 50px;
  height: 50px;
  background: url("./news-icon.svg") no-repeat;
  padding-bottom: 20px;
  filter: drop-shadow(0px 0px 5px #eeeeee);
}

.icon--sprite {
  width: 50px;
  height: 50px;
  background: url('./news-sprite.svg') no-repeat -103px -1px;
  padding-bottom: 20px;
  filter: drop-shadow(0px 0px 5px #eeeeee);
}

/* ^ 1st row of news - standalone svg, 2nd row - sprite. Works the same ^ */
